<section class="about-us" id="about-us">
    <div class="about">
        <img src="assets/image/home/kareena.jpg" class="pic" title="Kareena Rajput" height="200px">
        <div class="text">
            <h2>Kareena Rajput <strong>(CEO of Digital Marketing)</strong></h2>
            <span>Chief Marketing Officer (CMO)</span>
            <p>My name is Kareena.We know we are impacting the foundation of your future, and we take this responsibility very seriously. With Ssbr iNet, I ensure that you always get top class training based on practical projects and future prospects.</p>
            <div class="data">
                <!-- <button  class="hire" (click)="openDialogsatendra()">Hire Me</button> -->
            </div>
        </div>
    </div>
</section>