<h4 class="leftsideheanding">All Career Paths</h4>
<ul>
    <li><a routerLink="/popular-careers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Popular Careers</a></li>
    <li><a routerLink="/data-science" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Data Science</a></li>
    <li><a routerLink="/business-administration" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Business & Administration</a></li>
    <li><a routerLink="/artificial-intelligence" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Artificial Intelligence</a></li>
    <li><a routerLink="/machine-learning" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Machine Learning</a></li>
    <li><a routerLink="/cloud-computing" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Cloud Computing</a></li>
    <li><a routerLink="/management" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Management</a></li>
    <li><a routerLink="/digital-marketing" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Digital Marketing</a></li>
    <li><a routerLink="/it-software" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> IT & Software</a></li>
    <li><a routerLink="/cyber-security" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Cyber Security</a></li>
    <li><a routerLink="/humanities" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Humanities</a></li>
    <li><a routerLink="/ui-ux" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> UI/UX </a></li>
    <li><a routerLink="/education-training" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Education and Training </a></li>
    <li><a routerLink="/law" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Law </a></li>
    <li><a routerLink="/creative" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Creative </a></li>
</ul>
