<div style="background: #10182F;">
  <section class="footer">

    <div class="footer-row">
      <div class="footer-col">
        <h4> Digital Marketing | Ssbr iNet</h4>
        <br><br>
        <p>
          Digital marketing is a broad and dynamic field that encompasses a wide range of online marketing activities
          aimed at promoting products, services, or brands using digital channels and technologies..
        </p>
<!--        
        <div class="icons">
          <a href="https://www.facebook.com/ssbrinetoffical" target="_blank" title="Facebook"><i
            class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Ssbrinet_com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/ssbrinet.com_official/" target="_blank" title="Instagram"><i
              class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@SsbriNet" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a>

          <a href="https://www.linkedin.com/company/ssbrinethub/?viewAsMember=true" target="_blank" title="Linkedin"><i
              class="fa-brands fa-linkedin-in"></i></a>
        </div> -->
      </div>

      <div class="footer-col">
        <h4>All Career Paths</h4>
        <ul class="links">
          <li><a href="/popular-careers">Popular Careers </a></li>
          <li><a href="/data-science">Data Science </a></li>
          <li><a href="/business-administration">Business & Administration</a></li>
          <li><a href="/artificial-intelligence">Artificial Intelligence</a></li>
          <li><a href="/machine-learning">Machine Learning </a></li>
          <li><a href="/cloud-computing">Cloud Computing</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Digital Marketing</h4>
        <ul class="links">
          <li><a href="#">Affiliate Marketing</a></li>
          <li><a href="#">Email Marketing</a></li>
          <li><a href="#">Content Marketing</a></li>
          <li><a href="#">Branding Marketing</a></li>
          <li><a href="#">Copywriting</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Social Marketing</h4>
        <ul class="links">
          <li><a href="#">Facebook Marketing</a></li>
          <li><a href="#">Linkedln Marketing</a></li>
          <li><a href="#">Quora Marketing</a></li>
          <li><a href="#">Twitter Marketing</a></li>
          <li><a href="#">Instagram Marketing</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Business Marketing</h4>
        <ul class="links">
          <li><a href="#">Sales Intelligence</a></li>
          <li><a href="#">Stock Intelligence</a></li>
          <li><a href="#">Digital Research</a></li>
          <li><a href="#">Profile of company</a></li>
          <li><a href="#">Profile of Location</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Our Services</h4>
        <ul class="links">
          <li><a href="https://www.ssbrinet.com/web_development_tutorials.htm">Learn Tutorials</a></li>
          <li><a href="https://www.ssbrinet.com/quiztest">Quizzes-Exercises</a></li>
          <li><a href="/">Digital Marketing</a></li>
          <li><a href="https://blog.ssbrinet.com/">Blog Newsletter</a></li>
          <li><a href="https://support.ssbrinet.com/">Supports</a></li>
        </ul>
      </div>


    </div>
    <div class="bottom-details">
      <div class="bottom_links">
        <ul>
          <li><a href="https://g.page/r/CUmoZVsB0OPzEAI/review">Review of related </a></li>
          <li><a href="https://www.ssbrinet.com/">Ssbr-iNet</a></li>
          <li><a href="https://my-learning.ssbrinet.com/">Prime Packs</a></li>
          <li><a href="https://www.ssbrinet.com/privacy_policy.htm">@Privacy Policy</a></li>
          <li><a href="https://www.ssbrinet.com/about-us.htm">@About us</a></li>
        </ul>
      </div>

      <div class="bottom_text">
        <div><span class="copyright_text">©Ssbrinet 2023.All Rights
            Reserved.</span></div>
      </div>
    </div>
  </section>
</div>