.cardservice{
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    background-color:#d7ecea;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    gap: 30px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    border: 1px solid #000;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 10/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.cardservice{
    width: 100%;
    margin: auto;
    padding: 50px 0px;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}
.card-material{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.deta-card{
    flex-basis: 70%;
}
.deta-img{
    flex-basis: 30%;
}
.deta-card p{
    text-align: center;
    align-items: center;
}

.btn{
    border: none;
    padding: 13px 30px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    background: #04aa6d;
    color: #fff;
    float: left;
    transition: 1s;
}
.btn:hover{
    color: #2968a8;
    background-color: #fff;
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}