<div class="cardservice">
    <h1 style="text-align: left; margin-left: 10%;">All Career Paths</h1>
    <div class="card-list">
        <a href="#" class="card-item">
            <div class="card-material">
                <div class="deta-card">
                    <h3>Data Science</h3>
                    <span class="developer">Developer</span>
                </div>
                <div class="deta-image">
                    <img src="assets/image/home/sate.jpeg" alt="Card Image">
                </div>
            </div>
        
            <div class="card-material">
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
                <div class="deta-card">
                    <p><a href="">₹ 7L+ Average Salary</a></p>
                </div>
            </div>
        </a>


        <a href="#" class="card-item">
            <div class="card-material">
                <div class="deta-card">
                    <h3> Business & Administration</h3>
                    <span class="editor">Developer</span>
                </div>
                <div class="deta-image">
                    <img src="assets/image/home/sate.jpeg" alt="Card Image">
                </div>
            </div>
        
            <div class="card-material">
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
                <div class="deta-card">
                    <p><a href="">₹ 7L+ Average Salary</a></p>
                </div>
            </div>
        </a>

        
        <a href="#" class="card-item">
            <div class="card-material">
                <div class="deta-card">
                    <h3> Education & Training</h3>
                    <span class="designer">Developer</span>
                </div>
                <div class="deta-image">
                    <img src="assets/image/home/sate.jpeg" alt="Card Image">
                </div>
            </div>
        
            <div class="card-material">
                <div class="arrow">
                    <i class="fas fa-arrow-right card-icon"></i>
                </div>
                <div class="deta-card">
                    <p><a href="">₹ 7L+ Average Salary</a></p>
                </div>
            </div>
        </a>
        <a href="/popular-careers">
        <button class="btn">More view</button>
        </a>
    </div>
</div>