* {
    padding: 0;
    margin: 0;
}

.banner {
    /* background-image: url(/assets/image/home/Contact.jpg); */
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    height: 120px;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0px 0px 20px grey;
}

.bannercardssbr {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}


.bannertext {
    margin-top: 10px;
    text-align: center;
}

.bannertext h1 {
    font-weight: 500;
    font-size: 38px;
}

.bannertext p {
    padding: 15px;
    font-size: 15px;
}

.bannertext a {
    margin: 10px 15px;
    text-decoration: none;
    border: 1px solid grey;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.bannertext>a:hover {
    box-shadow: 0px 0px 20px grey;
    background-color: #4e2db8;
    color: #fff;

}



@media (max-width: 991px) {
    .bannercardssbr {
        width: 100%;
        display: block;
        float: left;
        margin: auto;
    }

    .bannertext>h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .bannertext>p {
        padding: 10px 0px;
        font-size: 15px;
        text-align: center;
    }

    /* .bannertext>a{
        margin: 20px 15px;
        text-decoration: none;
        background-color: ;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
    }
  
    .bannertext>a:hover{
      box-shadow: 0px 0px 20px grey;
      background-color: green;
    } */
    .bannerimage {
        display: none;
        margin: 6px 10px;
    }

    .bannerimage img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
}

.cardservice {
    width: 100%;
    margin: auto;
    padding: 50px 0px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 50px auto;
    padding: 20px;
    gap: 30px;
}

.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    border: 1px solid #000;
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 10/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer {
    background-color: #F7DFF5;
    color: #B22485;
}

.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor {
    background-color: #d6f8d6;
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.cardservice {
    width: 100%;
    margin: auto;
    padding: 50px 0px;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
    background: #000;
    color: #fff;
}

.card-material {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.deta-card {
    flex-basis: 70%;
}

.deta-img {
    flex-basis: 30%;
}

.deta-card p {
    text-align: center;
    align-items: center;
}

.btn {
    border: none;
    padding: 13px 30px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    background: #04aa6d;
    color: #fff;
    float: left;
    transition: 1s;
}

.btn:hover {
    color: #2968a8;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}






/****************** In which you will get css of Submenu, editor by Ssbr iNet *********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.submenu {
    position: fixed;
    display: inline-flex;
    height: 40px;
    width: 100%;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0 0px;
    box-shadow: 0px 0px 1px gray;
    flex-wrap: wrap;
    margin-top: 60px;
    z-index: 1000;
}

.submenu .logo {
    color: var(--btn-button-bg);
    font-size: 35px;
    font-weight: 600;
}

.submenu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px 0px;
}

.submenu ul li {
    margin: 0px 0px;
}

.submenu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 6px 8px;
    margin: 0px 5px;
    border-radius: 0px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.submenu ul li a.active,
.submenu ul li a:hover {
    color: white;
    background: #04AA6D;
    border-radius: 50px;
}

.submenu .menu-btn i {
    color: var(--white-color);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.sidebar-icon {
    display: none;
}


@media (max-width: 920px) {
    .submenu .menu-btn i {
        display: inline;
    }

    .submenu ul li {
        margin: 0px 0px;
        padding: 0px 0px;
    }

    .desktop-item {
        display: none;
    }

    .desktop-item2 {
        display: block;
    }

    .sidebar-icon {
        display: block;
    }

}

@media (max-width: 576px) {
    .submenu .menu-btn i {
        display: inline;
    }

    .submenu ul li {
        margin: 0px 0px;
        padding: 9px 0px;
    }

}