<div class="container-ssbr">
    <section class="hero-section">
      <div class="hero">
        <h2>Digital Marketing</h2>
        <p>
          Digital marketing is a broad and dynamic field that encompasses a wide range of online marketing activities aimed at promoting products, services, or brands using digital channels and technologies.
        </p>
        <div class="buttons">
          <a href="https://www.ssbrinet.com/login" class="join">Join Now</a>
          <a href="/digital-marketing" class="learn" target="_blank">Learn More</a>
        </div>
      </div>
      <div class="img">
        <img src="assets/image/home/hero-bg.png" alt="hero image" />
      </div>
    </section>
  </div>