

nav {
  position: fixed;
  z-index: 2000;
  width: 100%;
  background: #f0f1ff;
  box-shadow: 0px 0px 8px grey;
}

nav .wrapper {
  position: relative;
  max-width: 100%;
  padding: 0px 15px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
} */

/* width: 250px;
height: 70px;
justify-content: center;
align-items: baseline; */

.wrapper .logo {
  color: #f2f2f2;
  font-size: 55px;
  padding: 0px 0px;
  text-decoration: none;
}

.wrapper .logo img {
  /* background: #fff; */
  padding: 0px 0px;
  border-radius: 5px;
}


.wrapper .nav-links {
  display: inline-flex;
  padding: 0px 50px;
}

.nav-links li {
  list-style: none;
  margin: 0px 8px;
}

.nav-links li:hover {
  color: #01c061;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #01c061;
  color: #fff;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: #f0f1ff;
  width: auto;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  padding: 5px 0px;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 60px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0px 5px;
  border-radius: 0px;
  border-radius: 5px;
}

.mega-box {
  position: absolute;
  left: 10%;
  width: 75%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;

}

/* .mega-box::before{
  content: "\219f";
  font-size: 18px;
  position: absolute;
  color: #1e0c38;
  left: 20px;
  top: -15px;
  transform: rotate(180deg);
  z-index: 100;
  font-weight: 700;
  color: #1c117e;

} */


.mega-box .content {
  background: #f0f1ff;
  padding: 5px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15); */
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 35px;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}

.content .row .import-heading {
  color: #000;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #000;
  font-size: 16px;
  display: block;
}

/* li .login-btn {
  background-color: #01c061;;
  font-weight: bold;
}
li .login-btn:hover{
  background-color: #90f2c1;;
} */


.row .mega-links li a:hover {
  color: #f2f2f2;
}

.wrapper .btn {
  color: #000;
  font-size: 25px;
  cursor: pointer;
  display: none;
  position: absolute;

}
.wrapper .btn {
  color: #000;
  font-size: 25px;
  cursor: pointer;
  display: none;
  position: absolute;

}


.wrapper .btn.close-btn {
  position: relative;
  right: 30px;
  top: 10px;
  position: absolute;
  right: 30px;
  top: 10px;
  color: #000;
}

.menu-btn {
  position: absolute;
  color: transparent;
  font-size: 25px;
  display: contents;
}


.wrapper .btn {
  color: #444;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  font-weight: 300;
  color: #fff;
}

.loginside {
  margin-inline-start: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.loginside img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 20px;
  border: 1px solid #04AA6D;
}


.loginside li a {
  /* border: 1px solid gray; */
  border-radius: 50px;
  padding: 5px 8px;
  color: #fff;
  margin: 0px 5px;
  font-weight: 300;
  background-color: #04AA6D;
  cursor: pointer;
}

.loginside li a:hover {
  background-color: #fff;
  color: #0f2f40;
  border: 0.5px solid #eee;
}

@media screen and (max-width: 970px) {

  .desktophide {
    display: none;
  }

  .menu-btn {
    color: #000;
    cursor: pointer;
  }
  nav .wrapper{
    padding: 0px 15px;
  }
  .wrapper .logo {
    padding: 0px 0px;
  }
  
  

  .wrapper .btn {
    display: block;
    padding: 0px 0px;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f0f1ff;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    ;
  }

  ::-webkit-scrollbar-thumb {
    background: #b5b5b5;

  }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .btn {
    display: contents;
    float: inline-end;
  }
  .btn1{
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 100%;
  }

  #showDrops:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 100%;
  }

  .nav-links li .desktop-item {
    display: none;
  }

  .desktophide {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: #01c061;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
    color: #000;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 25px 0px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
    padding: 0px 0px;
  }

  .row .mega-links li {
    margin: 0;
    padding: 0px 0px;
  }

  .content .row header {
    font-size: 19px;
  }


}

nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}