<main>
    <!-- Hero Start -->
    <section class="hero">
      <div class="row container">
        <div class="column">
          <h2>Business Marketing</h2>
          <p>Digital marketing is a broad and dynamic field that encompasses a wide range of online marketing activities aimed at promoting products, services, or brands using digital channels and technologies.</p>
          <div class="buttons">
            <button class="btn">Start's Business</button>
          </div>
        </div>
        <div class="column">
          <img src="assets/image/home/business.jpg" alt="heroImg" class="hero_img" />
        </div>
      </div>
      <!-- <img src="assets/image/home/bg-bottom-hero.png" alt="" class="curveImg" /> -->
    </section>
    <!-- Hero End-->
  </main>