<div class="cardservice">
    <h2 style="text-align: center;">All-Our Services</h2>
<div class="card-list">
    <a href="/digital-marketing" class="card-item">
       <h2> Digital Marketing</h2>
        <span class="developer">Marketing</span>
        <p>Digital marketing refers to the practice of promoting products, services, or brands using various online channels and technologies.</p>
        <!-- <div class="arrow">
            <i class="fas fa-arrow-right card-icon"></i>
        </div> -->
    </a>
    <a href="/popular-careers" class="card-item">
        <!-- <img src="images/designer.jpg" alt="Card Image"> -->
        <h2>All Career Paths</h2>
        <span class="designer">Career</span>
        <p>A career roadmap is a strategic plan that outlines the steps and milestones an individual aims to achieve throughout their career journey</p>
        <!-- <div class="arrow">
            <i class="fas fa-arrow-right card-icon"></i>
        </div> -->
    </a>
    <a href="#" class="card-item">
        <!-- <img src="images/editor.jpg" alt="Card Image"> -->
        <h2> Business Marketing</h2>
        <span class="editor">Location</span>
       <p>Business ideas can encompass a wide range of industries and sectors, including technology, retail, healthcare, education, entertainment, and more.</p>
        <!-- <div class="arrow">
            <i class="fas fa-arrow-right card-icon"></i>
        </div> -->
    </a>
</div>
</div>